// COLOR VARIABLES 

$color-primary: #023E73;
$color-primary-light: #79AEF2;
$color-primary-dark: #021C26;

$color-primary-gray: #727272;

$color-dark: #000000;
$color-grey-dark-1: #999;
$color-white: #FFFFFF;

// CARD COLORS


$color-green-light: #55c57a;
$color-green-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Merriweather', serif;


// Line 

$line: 1px solid rgba($color-primary-gray, 0.5);

$line-logo: 4px solid rgba($color-primary-light, 0.7)
