.footer {
  background-color: $color-dark;
  grid-column: full-start / full-end;
  grid-row: 9 / 10;
  padding-top: 5rem;
  padding-bottom: 5rem;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 19rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: repeat(3, min-content);

  &__content {

    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    column-gap: 2rem;

  }

  &__slogan {

    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 1.2rem;
    align-items: center;

    @include respond (footer) {
      margin-bottom: 5rem;
    }

    &-logo {
      height: 3.5rem;
      width: 12rem;
    }
    
  }

  &__nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    grid-gap: 2rem;

    &-link:link,
    &-link:visited {
      font-size: 1.4rem;
      color: $color-white;
      text-decoration: none;
      font-family: $font-primary; 
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;

      background-color: rgba($color-white, .05);
      transition: all .2s;


    }

    &-link:hover,
    &-link:active {
      background-color: rgba($color-white, .05);
      transform: translateY(-3px);
    }

  }


}

.city {
  grid-column: center-start / center-end;
  grid-row: 2 / 3 ;
  margin-top: 3rem;
  color: rgba($color-white, 0.7);
  text-align: center;

}
.copyright {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;
  margin-top: 1rem;
  color: $color-white;
  text-align: center;


}