.header {
  background-color: $color-dark;
  grid-column: full-start / full-end;
  grid-row: 2 / 3; 

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(8, minmax(min-content, 19rem)) minmax(6rem, 1fr) [full-end];

  &__description {
   grid-column: 2 / 6;
   grid-row: 1 / 2;
   z-index: 1;
   color: $color-white;

   display: grid;
   grid-template-columns: minmax(min-content, max-content);
   grid-template-rows: min-content min-content min-content;
   align-content: center;
   justify-content: center;

   animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

   &-slogan {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 6px;
    align-items: center;
    justify-content: start;
   }
  }

  &__bars {
    height: 1.3rem;
    width: 1.2rem;
  }

  &__computer {
    grid-column: 6 / 10;
    grid-row: 1 / 2;
    z-index: 1;
  }

  &__btn {
    margin-top: 2.5rem;
    align-self: start;
    justify-self: start;
  }

  &__computer {
    display: flex; 
    justify-content: center;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }


}