.form {

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;

  @include respond(phone) {
    row-gap: .8rem;
  }


  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    width: 60%;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .55);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .3s;

    @include respond (phone) {
      width: 70%;
    }

    &::placeholder {
      color: rgba($color-dark, .8) !important;
    }

    &-dark {
      background-color: rgba($color-dark, 0.05);

      &::placeholder {
        color: rgba($color-dark, .55) !important;
      }

      @include respond(phone) {
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
      }

      @include respond (phone) {
        width: 75%;
      }

    }

    

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-dark, .1);
      border-bottom: 3px solid $color-green-light;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-primary-gray;
    }
  }

  &__label {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 2rem;
      margin-top: .7rem;
      display: block;
      transition: all .3s;
      color: white;

      &-dark {
        color: $color-dark;
      }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

  &-btn {
    justify-self: start;
    margin-top: 2rem;

    &-dark {
      @include respond(phone) {
        margin-top: 1.4rem;
      }
    }
  }

}



.textbox {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  width: 95%;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba($color-white, .55);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  resize: none;
  transition: all .3s;

  &::placeholder {color: rgba($color-dark, .8) !important}

  

  &-dark {
    background-color: rgba($color-dark, .05);

    &::placeholder {
      color: rgba($color-dark, .55) !important;
    }

    @include respond(phone) {
      height: 10rem;
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
    }

  }

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-dark, .15);
    border-bottom: 3px solid $color-green-light;
  }

}

// Placeholder color distinto en safari


