
.video__content {
  width: 100%;
  grid-row: 2 / 7;
  grid-column: 3 / 9;
  opacity: 1;
  box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.60);

  @include respond (phone) {
    grid-column: 2 / 8;
  }

}

