body {
  font-family: $font-primary;
  color: $color-dark;
  font-weight: 400;
  line-height: 1.6;
}

.heading-1 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.3;

  @include respond (mini-phone) {
    text-align: center;
  }

}

.heading-2 {
  font-family: $font-display;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  position: relative;
  padding-bottom: 1.4rem;

  &--dark { color: $color-primary; }

  &--white { color: $color-white; }

  &--yellow { 
    color: $color-yellow-dark;
    padding-bottom: 2rem;
  }

  &--popup {
    // text-transform: uppercase;
    text-align: center;
    padding-bottom: 4rem;

    @include respond(tab-port) {
      padding-bottom: 1.5rem;
    }

  }

  &--line {
    &:before {
      content : "";
      position: absolute;
      left    : 0;
      bottom  : 0;
      height  : 1px;
      width   : 80%; 
      border-bottom: 4px solid rgba($color-yellow-dark, 0.6);
      padding-bottom: 2rem;
      }
  }

  &--center-line {
    text-align: center;
    &:before {
      content : "";
      position: absolute;
      left    : 0;
      bottom  : 0;
      height  : 1px;
      width   : 100%; 
      border-bottom: 4px solid rgba($color-yellow-dark, 0.4);
      padding-bottom: 2rem;
      }
  }
}

.heading-3 {
  font-family: $font-display;
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.3;

  &--dark { color: $color-primary; }

  &--white { color: $color-white; }

  &--popup {
    margin-top: 5rem;
    text-align: center;

    @include respond(tab-port) {
      margin-top: 1.5rem;
    }
    
  }
}

.heading-4 {
    font-family: $font-display;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    
    &--dark { color: $color-primary; }

    &--white { color: $color-white; }

    &--end { align-self: flex-end;}
    
}

//Header Text

.header__description-text {
  font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

// Tecnologie Features

.description__text {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.list__item {
  // color: rgba($color-dark, 0.8);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.list__popup-item {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: rgba($color-dark, 0.8);
}

//Footer

.footer__slogan-text {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  color: $color-white;
  position: relative;
  padding-bottom: 1.4rem;

  &:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%; 
  border-bottom: 4px solid rgba($color-yellow-dark, 0.6);
  padding-bottom: 2rem;
  }

}

.copyright {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
}

.city {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
}

//POPUP 

.popup-description {
  font-family: $font-primary;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  color: rgba($color-dark, 0.8);
  padding-bottom: 2.5rem;

  &-profile {
    @include respond(tab-port) {
      padding-bottom: 1.5rem;
    }
  }

}