.description-1 {
  background-color: rgba($color-dark, 0.03);
  grid-column: full-start / full-end;
  grid-row: 4 / 5;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(8, minmax(min-content, 19rem)) minmax(6rem, 1fr) [full-end];

  @include respond (tab-port) {
    padding-top: 9rem;
    padding-bottom: 4.5rem;
  }

  @include respond (mini-tab) {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }

  @include respond (phone) {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    row-gap: 2rem;
  }

  @include respond (mini-phone) {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    row-gap: 4rem;
  }

}

.description-2 {
  background-color: rgba($color-dark, 0.03);
  grid-column: full-start / full-end;
  grid-row: 5 / 6;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(8, minmax(min-content, 19rem)) minmax(6rem, 1fr) [full-end];


  @include respond (tab-port) {
    padding-top: 4.5rem;
    padding-bottom: 9rem;
  }

  @include respond (mini-tab) {
    padding-top: 3rem;
    padding-bottom: 8rem;
  }

  @include respond (phone) {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    row-gap: 2rem;
  }

  @include respond (mini-phone) {
    padding-top: 2rem;
    padding-bottom: 4.5rem;
    row-gap: 4rem;
  }
}