.description-1__port {
  grid-row: 3 / 4;
}

.description-2__port {
  grid-row: 4 / 5;
}

.description-3__port {
  background-color: rgba($color-dark, 0.03);
  grid-column: full-start / full-end;
  grid-row: 5 / 6;
  padding-bottom: 8rem;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(8, minmax(min-content, 19rem)) minmax(6rem, 1fr) [full-end];

  @include respond (tab-port) {
    padding-top: 5rem;
    padding-bottom: 8rem;
  }

  @include respond (mini-tab) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include respond (phone) {
    padding-top: 0rem;
    padding-bottom: 5rem;
    row-gap: 2rem;
  }

  @include respond (mini-phone) {
    padding-top: 0rem;
    padding-bottom: 5rem;
    row-gap: 4rem;
  }

}



//IMAGES 

.port__img-end {
  width: 100%;
  grid-row: 2 / 7;
  grid-column: 3 / 9;
  opacity: 1;
}

.port__img-end2 {

  width: 100%;
  grid-row: 4 / 9;
  grid-column: 1 / 6;

}



